@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,latin-ext);

body {
    background-color: #d3d3d3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/background2.jpg) no-repeat center center fixed;
}
header{
  background-color:#17202A;
  margin:0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup-box {
    width: 420px;
    height: 450px;
    background: #17202A;
    color: #fff;
    top: 50%;
    left: 50%;
     position: absolute; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5px;
    margin-top: 60px; 
}

.login-box {
    width: 420px;
    height: 410px;
}

.loanApplication-box {
    width: 420px;
    height: 850px;
    margin: auto;
    top: 85%;
    margin-bottom: 35px;
}

.loanRepyt-box, .userVerification-box {
    width: 70%;
    height: 380px;
    margin: auto;
    top: 50%;
    margin-bottom: 35px;
}
 .active{
  background: #ffc168 !important;
  color:#800000;
}

.search-loans {
    height: 420px;
}

.admin-box {
    width: 70%;
    height: 380px;
    margin: auto;
    top: 50%;
    margin-bottom: 35px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.signup-box label {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
}

.signup-box p {
    font-size: 12px;
}

.loanApplication-box p {
    text-align: center;
    color: #A66641;
}

.loanApplication-box p a {
    font-size: 14px;
    text-decoration: underline;
    color: #ffc168;
}

.loanApplication-box p a:hover {
    text-decoration: none;
    color:#d3d3d3;
}

.signup-box .user-exist {
    font-size: 14px;
    text-align: center;
    margin-top: 0;
}

.signup-box .user-exist a {
    color: #A66641;
    font-size: 14px;
    font-weight: bold;
}

.signup-box .user-exist a:hover {
    color: #A66641;
    text-decoration: underline;
}

.signup-box input {
    width: 100%;
    margin-bottom: 15px;
}

.signup-box input[type = "text"], input[type = "password"], input[type = "email"], 
input[type = "number"], input[type = "date"], input[type = "tel"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
}

.signup-box input[type = "submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #A66641;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    
}

.loanApplication-box input[type = "submit"] {
    width: 50%;
    margin: 35px 40% 0 40%;
    background: none;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    color: #ffc168;
    border: 2px solid #ffc168;
    display: block;
    transition: .3s background-color;
}

.signup-box input[type = "submit"]:hover {
    cursor: pointer;
    background: #8C5C4A;
    color: #000;
}

.loanApplication-box input[type = "submit"]:hover {
    cursor: pointer;
    border: none;
    background: #ffc168;
    color: #000;
}
.signup-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #a9a9a9;
}

.signup-box a:hover {
    color: #ffc107;
}

/* Navigation bar */
.nav ul {
    list-style: none;
    /* background-color: #444; */
    background-color: #17202A;
    text-align: right;
    padding:25px;
   /* margin: 25px 25px;  */
}
  
  .nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    line-height: 40px;
    height: 30px;
    /* border-bottom: 1px solid #888; */
  }
   
  .nav a {
    width: 150px;
    background: #ffc168;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 6px;
    /* margin: 0 5px; */
    color:#800000;
    /* border: 2px solid #ffc168; */
    display: block;
    transition: .3s background-color;
  }

  .nav a:hover { 
     
     color:#444; 
   } 
   
  .nav a.active {
    /* background-color: #4b3d8a; */
    /* color: #999; */
    cursor: default;
  }
  
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 160px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      /* margin-right: -4px; */
    }
   
    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
  }

  /* End Navigation menu */

/* Table - Repayment History*/
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    font-size: 14px;
  }
  
  tr:nth-child(odd){background-color:#ff5733 rgb(255, 87, 51)
  }
  
  th {
    background-color: #6D96A6;
    text-align: center;
    color: #000;
    font-size: 14px;
  }

/* Tabbed menu - admin page */

article.tabs {
    position: relative;
    display: block;
    width: 40em;
    height: 15em;
    margin: 2em auto;
  }
  
  article.tabs section {
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    right: 0;
    height: 12em;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    z-index: 0;
    color: black;
  }
  
  article.tabs section .tab-content { display: none; }
  
  article.tabs section:last-child {
    z-index: 1;
    color: #333;
    background-color: #fff;
  }
  
  article.tabs section:last-child .tab-content { display: block; }
  
  article.tabs section h2 {
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 120px;
    height: 1.8em;
    top: -1.8em;
    left: 10px;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
  }
  
  article.tabs section:last-child h2 {
    color: #333;
    background-color: #fff;
  }
  
  article.tabs section:nth-child(1) h2 { left: 132px; }
  
  article.tabs section:nth-child(2) h2 { left: 254px; }
  
  article.tabs section h2 a {
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
  }
  
  article.tabs section:target, article.tabs section:target h2 {
    color: #333;
    background-color: #fff;
    /* z-index: 2; */
  }

